<mat-toolbar>
  <span>{{this.data == null? 'Nuevo...':'Editar...'}}</span>
  <span class="title-spacer"></span>
  <button mat-stroked-button class="btn-dialog-close" (click)="cerrarPopUp()" tabindex="-1"> <mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="form" class="normal-form" (submit)="enviarDatos()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controls-container">
        <mat-form-field>
          <input
            formControlName="nombre"
            placeholder="Nombre completo*"
            matInput
          />
          <mat-error>El campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="username"
            placeholder="Nombre de usuario*"
            matInput
          />
          <mat-error>El campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="esNuevoUsuario()">
          <input
            formControlName="password"
            placeholder="Contraseña*"
            type="password"
            matInput
          />
          <mat-error>El campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="esNuevoUsuario()">
          <input
            formControlName="passwordRepeat"
            placeholder="Repetir contraseña*"
            type="password"
            matInput
          />
          <mat-error>El campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-radio-group aria-label="Seleccionar rol del usuario" name="rol" formControlName="rol">
          <mat-radio-button value="DESARROLLADOR" name="rol" >Desarrollador</mat-radio-button>
          <mat-radio-button value="RRHH" name="rol">Recursos humanos</mat-radio-button>
          <mat-radio-button value="MANAGER" name="rol">Gestor de proyectos</mat-radio-button>
          <mat-radio-button value="ADMINISTRADOR" name="rol">Administrador</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <button mat-raised-button color="warn" (click)="limpiarForm()">Limpiar</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
