div.container {
  margin: 0px 40px;
}

form.normal-form {
  margin: 10px;
}

.controls-container {
  width: 100%;
  padding: 50%;
}

.add-botton-padding {
  padding-bottom:10px;
}

.button-row button{
  padding: 5px;
}

.title-spacer{
  width:80%;
}
