<form [formGroup]="form" (submit)="enviarDatos()">
  <mat-toolbar>
    <span>{{ this.data == null ? "Nuevo..." : "Editar..." }}</span>
    <span class="title-spacer"></span>
    <button mat-stroked-button class="btn-dialog-close" (click)="cerrarPopUp()" tabindex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  <mat-form-field>
    <input formControlName="nombre" placeholder="Título del sprint*" matInput />
    <mat-error>El campo es obligatorio</mat-error>
  </mat-form-field>
  <div class="columna" cdkDropListGroup>
    <div class="fila">
      <div class="columna">
        <mat-form-field appearance="fill">
          <mat-label>Fechas duración</mat-label>
          <mat-date-range-input [rangePicker]="duracionSprintPicker">
            <input matStartDate placeholder="Fecha inicio" formControlName="fechaInicio" />
            <input matEndDate placeholder="Fecha fin" formControlName="fechaFin" />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="duracionSprintPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #duracionSprintPicker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <div class="fila botonera-centrada">
      <button mat-raised-button color="primary" class="boton-guardar-cerrar" type="submit">
        Guardar
      </button>
      <button mat-raised-button color="primary" class="boton-guardar-cerrar" (click)="cerrarPopUp()">
        Cancelar
      </button>
    </div>
  </div>
</form>
