<app-side-nav titulo="Listado de proyectos">
<div class="fila gap ampliable">

  <mat-card class="ampliable">
    <mat-card-title class="tarjeta">Proyectos</mat-card-title>
    <app-proyecto-list [proyectos]="obtenerListaProyectos()" (onBorrarProyecto)="borrarProyecto($event)"
      (onProyectoSeleccionado)="seleccionarProyecto($event)" (onProyectoGuardado)="guardarProyecto($event)">
    </app-proyecto-list>
  </mat-card>

</div>

</app-side-nav>
