<mat-card>
  <mat-card-title>Registro usuario</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" #formDirective="ngForm" class="normal-form" (ngSubmit)="enviarDatos(formDirective)">
      <p>
        <mat-form-field>
          <input formControlName="nombre" placeholder="Nombre completo*" matInput />
          <mat-error>El campo es obligatorio</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input formControlName="username" placeholder="Nombre usuario*" matInput />
          <mat-error>El campo es obligatorio</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input formControlName="password" id="password" placeholder="Contraseña*" type="password" matInput />
          <mat-error>
            <!-- <span *ngIf="password.errors?.required">El campo es obligatorio</span>
            <span *ngIf="password.errors?.minlength">Longitud no válida</span> -->
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input formControlName="passwordRepeat" id="passwordRepeat" placeholder="Repetir contraseña*" type="password" matInput />
          <mat-error>
            <!-- <span *ngIf="passwordRepeat.errors?.required">El campo es obligatorio</span>
            <span *ngIf="passwordRepeat.errors?.minlength">Longitud no válida</span> -->
          </mat-error>
        </mat-form-field>
      </p>
      <!-- <mat-error><span *ngIf="form.errors?.passwordsMustMatch">Las contraseñas no coinciden</span></mat-error> -->
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </mat-card-content>
  <p>¿Ya tiene una cuenta de usuario? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Inicie
      sesión</a></p>
</mat-card>
