<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="side-menu">

    <mat-toolbar class="side-menu-header">

      <span>
        Secciones disponibles
      </span>
      <button mat-icon-button (click)="sidenav.toggle()">

        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>

    <mat-nav-list>
      <a *ngIf="puedeVerPersonal" routerLink="/personal" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Gestión de personal</span>
      </a>
      <a *ngIf="puedeVerProyectos" routerLink="/proyectos/proyecto" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Gestión de proyectos</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ titulo }}</span>
    <span class="spacer"></span>
    <span *ngIf="nombreUsuario" class="gap">Hola, {{nombreUsuario}} </span>
    <button mat-raised-button (click)="volver()">Atrás</button>
    <button mat-button (click)="logout()">Cerrar sesión</button>
  </mat-toolbar>

  <div class="container">
    <ng-content></ng-content>
  </div>

</mat-sidenav-container>
