<div *ngIf="puedeVerProyecto" class="columna ampliable gap">
  <div class="search-div fila gap ampliable">
    <mat-form-field *ngIf="puedeModificarProyecto" appearance="legacy" class="search-form-field ampliable">
      <input  matInput placeholder="Buscar persona" [matAutocomplete]="auto" [formControl]="nuevoMiembro" />
      <mat-autocomplete  #auto="matAutocomplete">
        <mat-option *ngIf="cargandoDatos"></mat-option>
        <ng-container *ngIf="!cargandoDatos">
          <mat-option *ngFor="let persona of personalDisponible" [value]="persona">
            {{ persona.nombre }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
    <button *ngIf="puedeModificarProyecto" class="reducible" mat-raised-button color="primary" (click)="agregarAEquipo()">
      <mat-icon>add</mat-icon>Añadir
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell mat-sort-header="nombre" *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="puedeModificarProyecto" mat-icon-button color="warn" (click)="quitarDeEquipo(row.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="cargando">
      <mat-footer-cell *matFooterCellDef aria-colspan="2">
        Cargando datos...
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="vacio">
      <mat-footer-cell *matFooterCellDef aria-colspan="2">
        No hay datos...
      </mat-footer-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <mat-footer-row *matFooterRowDef="['cargando']" [ngClass]="{ hide: dataSource != null }"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['vacio']" [ngClass]="{ hide: dataSource != null && dataSource.data.length > 0 }">
    </mat-footer-row>
  </table>
</div>
<div *ngIf="!puedeVerProyecto" class="columna-ampliable">No tiene permiso para ver esta información.</div>

