<app-side-nav [mostrarBotonVolver]="true" [titulo]="nombreProyecto" (onVolverPulsado)="volver()">
  <div id="contenedor" class="columna gap" style="width: 100%">
    <div id="encabezado" class="fila gap">
      <mat-card class="ampliable">
        <mat-card-title class="tarjeta">Sprints</mat-card-title>
        <mat-card-content>
          <app-sprint-list [listaSprints]="sprintsProyectoActual()" (onSprintBorrado)="borrarSprintPorId($event)"
            (onSprintGuardado)="guardarSprint($event)" (onSprintSeleccionado)="seleccionarSprint($event)">
          </app-sprint-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="reducible">
        <mat-card-title>Burnup</mat-card-title>
        <mat-card-content>
          <app-grafica-burnup [datosGrafica]="obtenerBurnUp()"></app-grafica-burnup>
        </mat-card-content>
      </mat-card>
    </div>
    <div id="zonacentral" class="fila gap">
      <mat-card class="reducible">
        <mat-card-title class="tarjeta">Equipo del proyecto</mat-card-title>
        <mat-card-content>
          <app-equipo-proyecto-list [listaMiembros]="this.equipoProyectoActual()" [idProyecto]="idProyectoActual()"
            (onPersonaAgregada)="agregarPersonaAEquipo($event)" (onPersonaEliminada)="quitarPersonaDeEquipo($event)">
          </app-equipo-proyecto-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="ampliable">
        <mat-card-title class="tarjeta">Backlog</mat-card-title>
        <mat-card-content>
          <app-backlog-list [listaHistoriasUsuario]="historiasUsuarioProyectoActual()"
            (onHistoriaBorrada)="borrarHistoriaPorID($event)" (onHistoriaGuardada)="guardarHistoria($event)">
          </app-backlog-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-side-nav>
