<app-side-nav titulo="Personal disponible">
  <div class="fila gap ampliable">
    <mat-card class="ampliable">
      <mat-card-title>Personal</mat-card-title>
      <mat-card-content>
        <app-personal-list [listaPersonal]="obtenerListaPersonal()" (onBorrarPersonal)="borrarPersona($event)"
          (onGuardarPersona)="guardarPersona($event)">
        </app-personal-list>
      </mat-card-content>
    </mat-card>
  </div>
</app-side-nav>
