/* You can add global styles to this file, and also import other style files */

:root {
  --darkest-color: #898980;
  --darker-color: #A9B2AC;
  --dark-color: #BCD0C7;
  --medium-color: #C5DAC1;
  --light-color: #DEF2C8;

  --dark-font: black;
  --light-font: white;
}

html {
  height: 100%;
  max-height: 100%;
  background-color: var(--darkest-color);
}
body {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.fila {
  display: flex;
  flex-direction: row;
}

.columna {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 2rem;
}

.ampliable {
  flex-grow: 1;
}
.reducible {
  flex-grow: 0;
}

.spacer {
  flex: 1 1 auto;
}

.boton-atras {
  padding: 5px 14px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #406E8E;
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background-color: var(--medium-color);
  color: var(--dark-font);
}

.notificacion-error {
  background-color: #e80a06;
  color: #FFFFFF;
}

.mat-card {
  background-color: var(--medium-color);
}

.light-font {
  color: var(--light-font);
}

.dark-font {
  color: var(--dark-font);
}

.side-menu {
  background-color: var(--dark-color);
}

.side-menu-header{
  background-color: var(--darkest-color);
}

.toolbar {
  background-color: var(--dark-color);
}



.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}
