<div class="search-div" *ngIf="puedeVerUsuarios" class="columna ampliable gap">
  <div clasS="fila ampliable gap">
    <mat-form-field appearance="legacy" class="search-form-field ampliable">
      <input matInput [(ngModel)]="clave" placeholder="Buscar" autocomplete="off" (keyup)="filtrarEntradas()">
      <button mat-button matSuffix mat-icon-button aria-label="Borrar" *ngIf="clave" (click)="limpiarFiltro()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button *ngIf="puedeAgregarUsuarios" class="reducible" color="primary" (click)="nuevo()">
      <mat-icon>add</mat-icon>Nuevo
    </button>
  </div>
  <table mat-table *ngIf="puedeVerUsuarios" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
    class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell mat-sort-header="nombre" *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="w-20"></th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="puedeAgregarUsuarios" mat-icon-button color="primary" (click)="editarEntrada(row)">
          <mat-icon>create</mat-icon>
        </button>
        <button *ngIf="puedeBorrarUsuarios" mat-icon-button color="warn" (click)="borrarEntrada(row.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="cargando">
      <mat-footer-cell *matFooterCellDef aria-colspan="2">
        Cargando datos...
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="vacio">
      <mat-footer-cell *matFooterCellDef aria-colspan="2">
        No hay datos...
      </mat-footer-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <mat-footer-row *matFooterRowDef="['cargando']" [ngClass]="{ hide: dataSource != null }"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['vacio']" [ngClass]="{ hide: dataSource != null && dataSource.length > 0 }">
    </mat-footer-row>
  </table>
</div>
<div *ngIf="!puedeVerUsuarios">No tiene permiso para ver esta información.</div>
