table {
  width: 100%;
}

.search-div{
  margin:10px;

}

.search-div .search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #fafafa;
    border-radius: 5px;
}
