<app-side-nav [mostrarBotonVolver]="true" [titulo]="nombreSprint" (onVolverPulsado)="volver()">
  <div id="contenedor" class="columna gap" style="width:100%">
    <div id="filaDescripcionSprint" class="fila gap">

      <mat-card class="columna ampliable">
        <app-historias-sprint-list [idSprint]="obtenerIdProyectoActual()"
          [listaHistorias]="obtenerListaHistoriasSprint()" (onHistoriaAgregada)="agregarHistoriaASprint($event)"
          (onHistoriaEliminada)="quitarHistoriaDeSprint($event)">
        </app-historias-sprint-list>
      </mat-card>

      <mat-card class="reducible">
        <app-grafica-burndown [datosBurndown]="obtenerDatosBurndown()"></app-grafica-burndown>
      </mat-card>
    </div>

    <mat-card id="filaPanelKanban" class="fila columna ampliable gap">
      <app-taskboard [tablero]="obtenerTableroTareas()" (onHistoriaMovida)=cambiarEstadoTarea($event)></app-taskboard>
    </mat-card>
  </div>
</app-side-nav>
