.board-bar {
  background-color: rgba(128, 128, 128, 0.3);
  padding: 8px 15px;
}
:host {
  height: 100%;
}
.board-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.board-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  background-color: lightblue;
  height: 100%;
}

.board-columns {
  display: flex;
  flex-grow: 1;
}

.board-column {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 0; /* Todas las columnas del mismo ancho, sin importar contenido */

  min-width: 100px;
  min-height: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;

  border-radius: 5px;
}

.first-board-column {
  margin-left: 50px;
}

.last-board-column {
  margin-right: 50px;
}

.column-title {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.task-container {
  flex-grow: 1;
}

.task {
  display: flex;
  background-color: white;
  padding: 15px 12px;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
