<div class="board-bar">
  <p class="board-name">{{ nombreTablero }}</p>
</div>

<div class="board-wrapper" *ngIf="tablero">
  <div class="board-columns" cdkDropListGroup>
    <div *ngFor="let columna of listaColumnas" class="board-column first-board-column">
      <div class="column-title">{{ columna.nombre }}</div>
      <div class="task-container" cdkDropList [cdkDropListData]="columna.tareas"
        (cdkDropListDropped)="drop($event, columna)">
        <div class="task" *ngFor="let tarea of columna.tareas" cdkDrag>
          {{ tarea.nombre }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="board-no-data" *ngIf="!tablero">No hay Datos</div>
