<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)='login(loginForm.value)'>
      <p>
        <mat-form-field>
          <input type="text" name="username" ngModel #userNameInput="ngModel" matInput placeholder="Nombre usuario" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Contraseña" />
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
  <p>¿No tiene una cuenta de usuario? <a [routerLink]="['/registro']" routerLinkActive="router-link-active">Registrese</a></p>
</mat-card>
