<mat-toolbar>
  <span>{{this.data == null? 'Nuevo...':'Editar...'}}</span>
  <span class="title-spacer"></span>
  <button mat-stroked-button class="btn-dialog-close" (click)="cerrarPopUp()" tabindex="-1"> <mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="form" (submit)="enviarDatos()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controls-container">
        <mat-form-field>
          <input
            formControlName="nombre"
            placeholder="Título *"
            matInput
          />
          <mat-error>El campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="descripcion"
            placeholder="Descripción"
            matInput
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="estimacion"
            placeholder="Estimación"
            matInput
          />
          <mat-error>El valor no es válido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="prioridad"
            placeholder="Prioridad"
            matInput
          />
          <mat-error>El valor no es válido</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <button mat-raised-button color="warn" (click)="limpiarForm()">Limpiar</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>

