.list-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  background-color: lightblue;
  height: 100%;
}
.columns-container {
  /* display: flex; */
  flex-grow: 1;
}
.column-title {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.column-container {
  flex-grow: 1;
}

.sprint-column {
  display: flex;
  background-color: white;
  padding: 15px 12px;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
