<div class="search-div">
  <!-- <button mat-raised-button color="primary" (click)="nuevo()">
    <mat-icon>add</mat-icon>Nuevo
  </button> -->
</div>

<div class="list-wrapper">
  <div class="columns-container" cdkDropListGroup>
    <div class="column-title">Estados tareas</div>
    <div
      class="column-container"
      cdkDropList
      [cdkDropListData]="estados"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="sprint-column" *ngFor="let estado of estados" cdkDrag>
        <span>{{ estado.nombre }}</span>
        <span></span>
        <span class="column-toolbar">
          <!-- <button mat-icon-button color="primary" (click)="editarEntrada(estado)">
            <mat-icon>create</mat-icon>
          </button> -->
          <button mat-icon-button color="warn" (click)="borrarEntrada(estado.id)"><mat-icon>clear</mat-icon></button>
        </span>
      </div>
    </div>
  </div>
</div>
