<div>
  <div class="content-container">
    <mat-icon id="close-icon" (click)="cancelar()">close</mat-icon>
    <span class="content-span full-width">{{ mensaje }}</span>
  </div>

  <button mat-flat-button id="yes-button" [mat-dialog-close]="true">Ok</button>
</div>

